# postgresql
POSTGRES_USER="pguser"
POSTGRES_PASSWORD="pgpass"
POSTGRES_DB="spankki"

# pgadmin
PGADMIN_DEFAULT_EMAIL="example@example.com"
PGADMIN_DEFAULT_PASSWORD="example"
PGADMIN_CONFIG_SERVER_MODE="False"
PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED="False"
