PORT=3000
HOST="http://localhost"
PROFILE_PICTURE_PREFIX="${HOST}:${PORT}/static"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"
SECRET="testsecret"